<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileSummit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MobileSummitTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MobileSummitWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MobileSummitWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MobileSummitiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MobileSummittvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MobileSummitwatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC769DD51DCFACF80050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769DEF1DCFAD6E0050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769E011DCFAD8E0050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769E0E1DCFAE170050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769E1A1DCFAFC00050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769E301DCFB0020050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC769E411DCFB0800050FFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
